@import "tailwindcss";
@layer base {
  html {
    scroll-behavior: smooth;
    color-scheme: dark; /* Force Dark Color Scheme System-wide */
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
}