# MongoDB Configuration
MONGO_URI="your-mongo-url"
PORT=8080
NODE_ENV=development

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME="your-cloudinary-cloud-name"
CLOUDINARY_API_KEY="your-cloudinary-api-key"
CLOUDINARY_API_SECRET="your-cloudinary-api-secret"

# JWT Configuration (Must be long, complex strings)
JWT_ACCESS_SECRET="your-jwt-access-secret"
JWT_REFRESH_SECRET="your-jwt-refresh-secret"
JWT_ACCESS_EXPIRY="your-jwt-access-expiry"
JWT_REFRESH_EXPIRY="your-jwt-refresh-expiry"

# Cookie Domain (Frontend domain for production, e.g., .laptopverse.com)
COOKIE_DOMAIN=localhost

# Email Settings (Mailtrap or Gmail)
EMAIL_HOST="your-email-host"
EMAIL_PORT="your-email-port"
EMAIL_USER="your-email-user"
EMAIL_PASS="your-email-password"
EMAIL_FROM="your-email-from"

# Google
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GOOGLE_CALLBACK_URL="your-google-callback-url"
CLIENT_URL="your-client-url"

GEMINI_API_KEY="your-gemini-api-key"